@import '../../../styles/variables';

.AddSighting {
  display: block;
  h1 {
    color: white;
    text-align: center;
  }
  form {
    background-color: $light-purple;
    border-radius: 1em;
    padding: 1em;
    margin: auto;
  }
}