.SingleButterfly {
  display: block;
  margin: 0;
  padding: 0;
  .main-image-container {
    width: 100%;
  }
  .main-image {
    width: 100%;
  }
  .single-butterfly-title {
    margin-top: 1em;
    width: 100%;
  }
  .basic-info {
    width: 100%;
  }
}