@import '../../../styles/variables';

.SingleButterfly {
  display: block;
  padding: .5em;
  .butterfly-info {
    background-color: $light-purple;
    border-radius: 1em;
    padding: 1em;
  }
  .main-image-container {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .main-image {
    width: 100%;
    border-radius: 1em;
  }
  .single-butterfly-title, .butterfly-sightings-title {
    margin-top: 1em;
    width: 100%;
    font-family: $noto-title;
    font-weight: 700;
  }
  .basic-info-title {
    margin-top: 1em;
    width: 100%;
    font-family: $noto-title;
    font-weight: 700;
    font-size: 1.5em;
  }
  .basic-info-subtitle {
    font-family: $noto-title;
    font-size: 1.25em;
  }
  .basic-info-text {
    width: 100%;
    font-family: $merriweather;
    font-weight: 400;
    font-size: .95em;
  }
  .butterfly-sightings-title {
    color: white;
  }
  .leaflet-container{
    border-radius: 10px;
    }
}