@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;1,700&display=swap');

//font variables
$merriweather: 'Merriweather Sans', sans-serif;
$noto-title: 'Noto Serif', serif;

// color variables
$favColor: #F9B5AC;